
.menu ul{
	padding-top: 20px;
	list-style-type: none;

}

.menu li{
	
	padding:10px;
	text-align:center;
	background-color:#CCD1D1;

}

.menu a{
	color: black;
	padding: 15px;
	font-family:Andale Mono, monospace;
	font-style: sans-serif;
}

.menu a:hover{
	
	font-size: 20px;
}
