body {
	color: #000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


header{
	width:100%;
	top:0px;
	display:inline-flex;
	flex-wrap:wrap;
    justify-content: space-around;
}


.container{
	margin: 25px auto;
	width: 90%;
	max-width: 960px;
}


h1 {
    font-size: 50px;
    font-family:Andale Mono, monospace;

}


aside {
	font-size:30px;
    font-style: italic;
    margin-left: 400px;
}

aside ul {
    list-style-type: none;
    margin-bottom: 10px;
}

/*main{
	grid-column: 1/4;
}*/

footer{
	padding-top: 10px;
	grid-column: 3/4;
	font-weight: bold;
}


p{
	padding:10px;
	line-height: 1.6;
	font-family:Andale Mono, monospace;
	font-style:serif;
}


h2 {
	padding:10px;
	background-color:#CCD1D1;
	font-weight: bold;
	font-family:Andale Mono, monospace;
	font-style: sans-serif;
}

img{
	padding-left: 350px;
}


